@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.body {
  background: url(./img/fondo.png) center;
  font-family: "Poppins", sans-serif;
}

.cabeza {
  background-color: white;
  height: 70px;
  box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.55);
}
.img {
  height: 70px;
  padding-left: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
}

.li {
  padding: 20px 40px;
}

.li:hover {
  background: #ffc84f;
  color: black;
  border-radius: 1em;
}
